<a href="https://colab.research.google.com/github/ElTejoman/Basic-Proyects---Cibertec/blob/main/Sem_2_Tipos_de_Dato_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables Numericas

In [ ]:
!ls

sample_data

## Numeros enteros

Son los números enteros positivos o negativos que pertenecen al tipo <class 'int'> y que no
tienen parte decimal. En Python puedes tener enteros tan grandes como la memoria de tu sistema lo permita.

Los valores reales también se pueden crear desde literales de cadena

In [2]:
### Números enteros (int)
mi_num = 34

print(type(mi_num))# type() me da el tipo de variable

print("La viariable 'mi_num' con valor", mi_num,"es de tipo", type(mi_num))

<class 'int'>
La viariable 'mi_num' con valor 34 es de tipo <class 'int'>

In [ ]:
num = 10_000_000
print(num)

10000000

In [ ]:
new_var = int(input("Ingrese un número  entero: "))
print(new_var)
print(type(new_var))

Ingrese un número: 7
7
<class 'int'>

In [ ]:
var = int(input("ingrese un numero:"))
type(var)

ingrese un numero:89

int

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("Ingrese un número: "))
output = num1+num2
print("La suma es: ", output)

Ingrese un número: 5
Ingrese un número: 8
La suma es:  13

In [ ]:
! ls

sample_data

In [ ]:
! python program1.py

Ingrese un número: 7
Ingrese un número: 2
La suma es:  9

In [ ]:
! Rscript code.R

 [1]  0.79766394  1.55637967  1.61274670 -0.65641936 -0.21199583  0.58599366
 [7]  1.34260760 -0.60021265  1.15930580  0.91929966  1.07809109 -0.93120351
[13] -1.26897711  0.84089993 -0.33176278 -0.01212898 -0.71047402  0.39211044
[19] -0.08699294 -0.95366323
[1] "----"
[1] 0.2260634

In [ ]:
! mkdir carpeta1

In [ ]:
! ls

carpeta1  code.R  program1.py  sample_data

## Numeros reales (float)

Son los números reales positivos y negativos que pertenecen al tipo <class 'float'> que tienen
parte decimal. Específicamente, permite almacenar números de punto flotante de doble
precisión.

Los valores reales también se pueden crear desde literales de cadena, tal como se aprecia en la
figura siguiente.

Los reales también pueden definirse en notación científica.

El tipo de dato float sí está limitado a un valor mínimo y un valor máximo.

In [ ]:
x = 3.0
print(type(x))

print(float("4"))

<class 'float'>
4.0

In [ ]:
#Notación científica

mi_var = 9e-3
print(mi_var)
print(4e3)

0.009
4000.0

In [ ]:
float(4)

4.0

In [ ]:
type(float("4.56"))

float

In [ ]:
num3 = float(input("Ingrese un número = "))
num4 = float(input("Ingrese otro número = "))
print("La suma es = ",num3+num4)

Ingrese un número = 8
Ingrese otro número = 9
La suma es =  17.0

In [ ]:
# limites de un float
import sys
print(sys.float_info.min)
print(sys.float_info.max)

2.2250738585072014e-308
1.7976931348623157e+308

In [ ]:

#Impresicones con mas decimales de mas de 16 decimales
a = "0."+"9"*17
print(a)
x = float(a)
print(x)

# Un serie de operaciones puede acumular error
print(0.1 + 0.1 + 0.1 - 0.3)

print(0.3-0.3)

0.99999999999999999
1.0
5.551115123125783e-17
0.0

In [ ]:
# Import math Library
import math

# Print the value of pi
print (math.pi)
print (math.e)

3.141592653589793
2.718281828459045

In [ ]:
import math
print(math.log(10))
print(math.log(math.e))
print(math.log10(10))

2.302585092994046
1.0
1.0

In [ ]:
print(math.cos(math.pi/2))
print(math.sqrt(4))

6.123233995736766e-17
2.0

## Numeros Complejos

In [ ]:
mi_var_com = complex(6.48, 1.51)
print(mi_var_com)
print(mi_var_com.real)
print(mi_var_com.imag)

print(mi_var_com.conjugate())

(6.48+1.51j)
6.48
1.51
(6.48-1.51j)

## Convercion de bases

In [ ]:
num_bin = 0b10111
print(num_bin)
print(bin(num_bin))

23
0b10111

In [ ]:
num_oct = 0o27
print(num_oct)
print(oct(num_oct))

23
0o27

In [ ]:
num_hex = 0x17
print(num_hex)
print(hex(num_hex))

23
0x17

In [ ]:
var_dec = 23
var_bin = 0b10111
var_oct = 0o27
var_hex = 0x17

print(id(var_dec))
print(id(var_bin))
print(id(var_oct))
print(id(var_hex))

11256768
11256768
11256768
11256768

# Boleanas (bool)

Son valores lógicos True o False que equivalen a un objeto con valor diferente de cero o conjunto
no vacío para ser True o un número igual a cero o conjunto vacío para ser False. Se obtiene
también como resultado de una función o al aplicar operadores de comparación, membresía e
identidad.

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
4==4

True

In [ ]:
6+4

10

In [ ]:
4>5

False

In [ ]:
True*1

1

In [ ]:
False*1

0

In [ ]:
bool(800)

True

# Cadenas

Son objetos inmutables del tipo <class 'str'> que almacenan una cadena de caracteres. Se pueden construir desde valores numéricos utilizando el constructor str(). Por otro lado, sus valores literales se escriben entre comillas simples (') o dobles ("). La facilidad de escribir las cadenas entre comillas simples o dobles permite la incorporación de esos caracteres en el literal.

También es posible escribir las cadenas entre triples comillas simples o dobles. Este uso permite escribir cadenas en múltiples líneas tal como mencionó al explicar el uso de los comentarios al
inicio de este documento.

In [4]:
string1 = "Hola"
print(string1)
print(type(string1))

Hola
<class 'str'>

In [5]:
#cadena multilinea
mi_string1 = '''
Esto es una cadena
en la que va a colocar
un exto que tiene
varias líneas
'''
print(mi_string1)
print(type(mi_string1))

Esto es una cadena
en la que va a colocar
un exto que tiene
varias líneas

<class 'str'>

In [6]:
mi_string1

'\nEsto es una cadena\nen la que va a colocar\nun exto que tiene\nvarias líneas\n'

In [7]:
char1 =input("Ingrese su nombre:")
char2 =input("Ingrese su apellido:")
char3 =input("Ingrese su edad:")

print("\nNombre:",char1,"\tApellido:", char2, "\tEdad:", char3)

Ingrese su nombre:Alejandro
Ingrese su apellido:Espinoza
Ingrese su edad:28

Nombre: Alejandro 	Apellido: Espinoza 	Edad: 28

In [ ]:
mi_string1

In [8]:
#cadena multilinea
mi_string1 = '''
ESto es una cadena
en la que va a colocar
un exto que tiene
varias líneas
'''
print(mi_string1)
mi_string1

print("\nhola")
print("hi")
print("lo")


a='ESto es una cadena\ten la que va a colocar\nun exto que tiene\tvarias líneas\n'
print(a)

ESto es una cadena
en la que va a colocar
un exto que tiene
varias líneas


hola
hi
lo
ESto es una cadena	en la que va a colocar
un exto que tiene	varias líneas

## Las cadenas son inmutables

In [9]:
cadena2 = "Hola a todos"
print(cadena2[0:4])

Hola

In [10]:
lista = ["H","o","l","a"]
lista

['H', 'o', 'l', 'a']

In [11]:
lista[0]="J"
lista

['J', 'o', 'l', 'a']

## Pero puedo extrater subcadenas

In [12]:
cadena2

'Hola a todos'

In [13]:
"J"+cadena2[1:]

'Jola a todos'

In [14]:
#
"cadena1 "*5

'cadena1 cadena1 cadena1 cadena1 cadena1 '

In [15]:
"cadena1 "+"cadena2"

'cadena1 cadena2'

Hacer un programa que invierta el orden de una cadena

In [16]:
cadena3 = "hola"

In [17]:
len(cadena3)

4

In [18]:
cadena3[3]+cadena3[2]+cadena3[1]+cadena3[0]

'aloh'

In [19]:
for i in range(-1,-5,-1):
  print(cadena3[i])

a
l
o
h

In [20]:
cadena3

'hola'

In [21]:
cadena3[::-1]

'aloh'

In [22]:
lista1 = [1,2,3,4,5,6]

In [23]:
lista1[::-1]

[6, 5, 4, 3, 2, 1]

In [24]:
cadena3[4::-1]

'aloh'

In [25]:
"ho"in cadena3

True

In [26]:
"Hola a todos como estan".find("a",6,23)

21

In [32]:
"Hola a todos como estan".find("a")

3

In [34]:
"Hola a todos como estan".count("a",6,23)

1

In [30]:
cadena4 = "Hola a todos como estan"
#todas las posiciones donde se enucnetra la letra "a"

In [31]:
# Mostras las posicioens donde se encuetra la letra 'a'

## Formato de cadenas con python

In [35]:
'{2}; {1}; {0}; {0}'.format('a', 'b', 'c')

'c; b; a; a'

In [39]:
"el reporte de gastos es {1}, y gastos {2} mientras que el de tasas y retenciones es de {0}".format("1500","3000","100")

'el reporte de gastos es 3000, y gastos 100 mientras que el de tasas y retenciones es de 1500'

In [40]:
'Nombre: {nom} y el apellido es: {ape}'.format(nom='Luis', ape='Lee')

'Nombre: Luis y el apellido es: Lee'

In [41]:
print('{:<15} !hola'.format('texto'))
print('{:>15} !hola'.format('texto'))

texto           !hola
          texto !hola

In [42]:
'{:<15}'.format('texto y mas T')

'texto y mas T  '

In [43]:
'{:<15}'.format('texto y mas Txto que supera 15 espacios bla bla blsa')

'texto y mas Txto que supera 15 espacios bla bla blsa'

In [44]:
'{:*^15}'.format('texto')# Completar espacios

'*****texto*****'

In [45]:
'{: ^15}'.format('texto')# Completar espacios

'     texto     '

In [51]:
'{:0^15}'.format('texto')# Completar espacios

'00000texto00000'

In [48]:
"{:0>{}}".format(1, 6)

'000001'

In [52]:
"Entero: {0:d} con millares: {0:,d}".format(12345678)

'Entero: 12345678 con millares: 12,345,678'

In [53]:
'{0:,.2f}'.format(12345142.249)

'12,345,142.25'

In [55]:
'Real: {0:f} con precisión: {0:.1f}'.format(19/13)

'Real: 1.461538 con precisión: 1.5'

In [56]:
' El número {0:f} en Formato científico es:{0:.3e}'.format(31.5/65854)

' El número 0.000478 en Formato científico es:4.783e-04'

In [57]:
' El número {0:f} en Formato científico es:{0:.0e}'.format(100000)

' El número 100000.000000 en Formato científico es:1e+05'

In [58]:
'{0:f} en términos porcentuales es: {0:.3%}'.format(19/22)

'0.863636 en términos porcentuales es: 86.364%'

In [59]:
# Formtatos numéricos
print('Entero: {0:d} con millares: {0:,d}'.format(1234500))
print('Real: {0:f} con precisión: {0:.3f}'.format(19/13))
print('Formato científico: {0:.2e}'.format(31.5/6584))
print('Porcentaje: {0:.2%}'.format(19/22))

Entero: 1234500 con millares: 1,234,500
Real: 1.461538 con precisión: 1.462
Formato científico: 4.78e-03
Porcentaje: 86.36%

In [ ]:
f1 = '{:<5}|{}'.format('V1',"***********")
f2= '{:<5}|{}'.format('V2...',"********")
f3 = '{:<5}|{}'.format('V3.',"****")
print(f1)
print(f2)
print(f3)

V1   |***********
V2...|********
V3.  |****

In [60]:
f0 = f'{"V1":<5}|{"****"}'
f1 = f'{"V2":<5}|{"***********"}'
f2 = f'{"V3":<5}|{"********"}'
print(f0)
print(f1)
print(f2)

V1   |****
V2   |***********
V3   |********

## Ejercicios

In [61]:
# Reemplaza una letra por otra en una cadena.(.replace())
cadena = "Hola Mundo"
print(cadena.replace("H","J"))

Jola Mundo

In [64]:
# Divide una cadena en una lista de palabras. (.split())
print(cadena.split(","))

['Hola Mundo']

In [ ]:
# Une una lista de palabras en una sola cadena. (" ".join()

'Hola, mundo, !'

In [ ]:
# Elimina los espacios en blanco al inicio y al final de una cadena.(.strip())

'Hola, mundo!'

# Escribe un script que identifique si un texto  es o no un palíndromo

In [ ]:
cadena = "Reconocer"
cadena = cadena.lower()
if cadena[::-1]==cadena:
  print("Es un palíndromo")
else:
  print("No es un palíndromo")

Es un palíndromo

# Conexión con google drive (Adicional)

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
! ls drive/MyDrive/Lenguaje_de_ciencia_de_datos_I
# drive/MyDrive/: ingrese a los archivos de tu googel drive
# Lenguaje_de_ciencia_de_datos_I: es una carptea en mi google drive

'Ejemplo examen.ipynb'		      Sem_2_Tipos_de_Dato_I.ipynb
'Ejersicios (1).ipynb'		      Sem_3LCD_I-Listas_tuplas_dict.ipynb
 Ejersicios.ipynb		      Sem_4_control-de-flujo.ipynb
 grinch.txt			     'Sem_5.6_Programación modular.ipynb'
 Sem_10_Objetos.ipynb		      Sem_7_Programacion-funcional.ipynb
 Sem_11_Herencia_polimorfismo.ipynb   StudentsPerformance.csv
 Sem_1_Lenguaje_Python.ipynb	      StudentsPerformance.gsheet

In [ ]:
! cd drive/MyDrive/Lenguaje_de_ciencia_de_datos_I ; ls

'Ejemplo examen.ipynb'		      Sem_2_Tipos_de_Dato_I.ipynb
'Ejersicios (1).ipynb'		      Sem_3LCD_I-Listas_tuplas_dict.ipynb
 Ejersicios.ipynb		      Sem_4_control-de-flujo.ipynb
 grinch.txt			     'Sem_5.6_Programación modular.ipynb'
 Sem_10_Objetos.ipynb		      Sem_7_Programacion-funcional.ipynb
 Sem_11_Herencia_polimorfismo.ipynb   StudentsPerformance.csv
 Sem_1_Lenguaje_Python.ipynb	      StudentsPerformance.gsheet

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("drive/MyDrive/Lenguaje_de_ciencia_de_datos_I/StudentsPerformance.csv")

In [ ]:
df

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# Ejersicios adicionales

In [66]:
# Crea una variable llamada "precio" con el valor 12.345. Utiliza el método de formato de cadenas para imprimir un mensaje que diga
# "El precio es S/ 12.35".

precio = 12.345
print(f"El precio es S/{precio}")

El precio es S/12.345

In [67]:
# Crea una lista llamada "nombres" con los nombres "Juan", "María" y "Pedro".
# Utiliza el método de formato de cadenas para imprimir un mensaje que diga
# "Los nombres son: Juan, María y Pedro" con los nombres separados por comas
# y la conjunción "y" antes del último nombre.

nombres = ["Juan", "María", "Pedro"]
print (f"Los nombres son: {nombres[0]}, {nombres[1]} y {nombres[2]}.")

Los nombres son: Juan, María y Pedro.

In [ ]:
# Crea una programa que pregunte el nombre y la edad de tres personas,luego
# Utiliza el método de formato de cadenas para imprimir un mensaje que diga
# "Las personas son: Juan (25 años), María (30 años) y Pedro (20 años)".#

In [ ]:
# Crea una variable llamada "correo" con una dirección de correo electrónico.
# Utiliza el método de formato de cadenas para imprimir un mensaje que diga
# "Tu nombre de usuario es [nombre de usuario]" extrayendo el nombre de
# usuario de la dirección de correo.