<a href="https://colab.research.google.com/github/ElTejoman/Basic-Proyects---Cibertec/blob/main/stroke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Instalacion de librerias

In [ ]:
install.packages("VIM")
install.packages("doParallel")
install.packages("missForest")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘numDeriv’, ‘SparseM’, ‘MatrixModels’, ‘minqa’, ‘nloptr’, ‘zoo’, ‘carData’, ‘abind’, ‘pbkrtest’, ‘quantreg’, ‘lme4’, ‘DEoptimR’, ‘lmtest’, ‘proxy’, ‘RcppEigen’, ‘car’, ‘robustbase’, ‘sp’, ‘vcd’, ‘e1071’, ‘Rcpp’, ‘laeken’, ‘ranger’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘foreach’, ‘iterators’


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘rngtools’, ‘randomForest’, ‘itertools’, ‘doRNG’

## Llamado de librerias

In [ ]:
library(VIM)
library(doParallel)
library(missForest)

Loading required package: colorspace

Loading required package: grid

VIM is ready to use.


Suggestions and bug-reports can be submitted at: https://github.com/statistikat/VIM/issues


Attaching package: ‘VIM’


The following object is masked from ‘package:datasets’:

    sleep


Loading required package: foreach

Loading required package: iterators

Loading required package: parallel


Attaching package: ‘missForest’


The following object is masked from ‘package:VIM’:

    nrmse

## Lectura de datos

In [ ]:
df <- read.csv("https://raw.githubusercontent.com/acosta187/datos/main/brain_stroke.csv")

In [ ]:
set.seed(25)
dim(df)
for(i in 1:10){
  df[sample(1:181,rpois(n=1,lambda=20)),i]<-NA
}

[1] 181  11

## Diccionario de datos

In [ ]:
num_vars <- c("age","avg_glucose_level","bmi")
cat_var <- c("gender","hypertension", "heart_disease", "ever_married", "work_type", "Residence_type","smoking_status")
target <- "stroke"

## Seleccion de las variables mas signficativas

In [ ]:


df1 <- df
res_num <- c()
for(i in num_vars){
#i = num_vars[1]
8
test <- t.test(df1[,i]~df1[,target])
pval <- test$p.value
df_res <- data.frame(var=i, pval=round(pval,3))
res_num <- rbind(res_num,df_res)
}
sig_num_var <- res_num %>% filter(pval<0.05) %>% pull(var

In [ ]:
res_char <- c()
char_vars <- cat_var

for(i in char_vars){
#i = char_vars[1]
df1[,i] <- factor(df1[,i])
tab <- table(df1[,c(target,i)])
pval <- chisq.test(tab)$"p.value"
df_res <- data.frame(var=i, pval=round(pval,3))
res_char <- rbind(res_char,df_res)
}
## Warning in chisq.test(tab): Chi-squared approximation may be incorrect
sig_char_var <- res_char %>% filter(pval<0.05) %>% pull(var)
res_char

## Visaulizacion de valores perdidos

In [ ]:
library(VIM)
aggr(df)

## Imputacion de datos

In [ ]:
all_var_cat <- c(cat_var,target)

In [ ]:
for(i in all_var_cat){
  df[,i]<-factor(df[,i])
}

In [ ]:
iris.imp <- missForest(df)

In [ ]:
head(iris.imp$ximp)

  gender age      hypertension heart_disease ever_married work_type
1 Female 61.00000 No           No            Yes          Self-employed
2 Female 59.00000 No           No            Yes          Private
3 Male   78.00000 No           Yes           Yes          Private
4 Male   67.93833 No           Yes           No           Govt_job
5 Male   58.00000 No           No            Yes          Private
6 Male   59.00000 No           No            Yes          Private
  Residence_type avg_glucose_level bmi      smoking_status  stroke
1 Rural          202.21            31.55560 never smoked    Yes
2 Rural           76.15            30.24294 Unknown         Yes
3 Urban          219.84            30.69895 Unknown         Yes
4 Urban          217.08            33.80841 Unknown         Yes
5 Rural          189.84            31.37853 Unknown         Yes
6 Rural          211.78            33.48457 formerly smoked Yes